@import url('https://fonts.googleapis.com/css?family=Open+Sans');


*{
  box-sizing: border-box;
}

body {
  width: 80%;
  margin: 0 auto;
  font-family: 'Open Sans';
}

h1{
  text-align: center;
  font-weight: 300;
}


.balance{
  border-top: solid 1px black;
  margin-top: 100px;
  text-align: right;
}

.balance > span:first-child{
  margin-right: 10px;
}




