.transaction{
    margin: 20px 0;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-column-gap: 10%;
  }

  .income, .expense{
    width: 100%;
    margin: 20px 0;
  }
  
  .income > p, .expense >p{
    border-bottom: solid 1px black;
  }
  
  .transaction-row{
    display: grid;
    grid-template-columns: 30% 15% 18% 10% 10% 10%;
  }
  
  .transaction-row > p{
    word-wrap: break-word;
    text-align: right;
    font-size: 0.85em;
  }
  
  .transaction-row > p:first-child{
    text-align: left;
  }

  .edit > input{
    width: 100%;
  }

 